* {
    text-align: right;
}

h1{
    margin-right: 17px;
}


h2{
    font-size: 40px;
    margin-right: 17px;
}

h3{
    font-size: 20px;
    margin-right: 17px;
    margin-top: 3px;
    /* padding: 20px; */
}

h4{
    font-size: 20px;
    padding: 20px;
}

p {
   text-align: right;
   padding: 20px;
    /* height: 50px; */
    /* width: 50%; */
    left: -1;
    font-size: small;
}


.contacttext{
    height: 100%;
    width: 100%;
    background-color: #a1c181;
}

.headshot {
    float: left;  
    height: 500px;
    width: 500px;
    padding: 50px;
    padding-left: 150px;
    border-radius: 80%;
    position: relative;
    z-index: 2;

}

.orange {
    float: left;  
    /* height: 500px;
    width: 500px; */
    /* padding: 50px;
    padding-left: 170px; */
    left: 350px;
    top: 400px;
    border-radius: 50%;
    position: absolute;
    /* z-index: 2; */

}

.yellow {
    float: left;  
    /* height: 500px;
    width: 500px; */
    /* padding: 50px;
    padding-left: 170px; */
    left: 100px;
    top: 100px;
    border-radius: 20%;
    position: absolute;
    /* z-index: 2; */

}

.contact-container{
    height: 100%;
    width: 100%;

}

body {
    background-color: #a1c181;
}

.likedbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    left: 50%;
    top: 10px;
    background-color: #427290;
    border-radius: 8px;
    padding: 5px;
    color: white;
    text-decoration: none;

  }


.likedbutton:hover {
  background-color: #548fb5;
  outline-color: black;
}