/* importing font*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');

/* fixing video to full screen*/
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.5;
}

/* fixing video to full screen*/
.vid-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* object-fit: contain; */
}


/* styling words for home page */
h1 {
    color: #a1c181;
    fill-opacity: .6 !important;
    font-size: 100px;
    position: relative;
    text-shadow: -1px 1px 2px #233d4d,
    1px 2px 6px #233d4d,
    1px -1px 0 #233d4d,
    -1px -1px 0 #233d4d;
}

p, a.signuplink {
    color: #233d4d;
    font-size: 30px !important;
}

/* styling video text */
.videotext {
    font-family: "Barlow ExtraBold 800", sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    padding: 150px;
}

.titlehomepage {
opacity: 1;
}

.homepagepara {
    text-align: center;
    color: #a1c181;
	text-shadow: -1px 1px 2px #233d4d,
				  1px 2px 6px #233d4d,
				  1px -1px 0 rgb(255, 255, 255),
				  -1px -1px 0 #233d4d;
}