@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.5;
}

.vid-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* object-fit: contain; */
}


h1 {
    color: #233d4d;
    font-size: 100px;
    position: relative;
}

p, a.signuplink {
    color: #233d4d;
    font-size: 30px;
}

.videotext {
    font-family: "Barlow ExtraBold 800", sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    object-fit: contain;
    /* if i add a button underneath this, make sure to change this padding to make sure it lays properly underneath */
    padding: 150px;
}