@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');

.clapperimage {
  display: flex; 
  margin: 0 auto;
  width: 600px;
  height: 500px;
margin-top: 0;
z-index: -1;
}

.loginheader{
  margin: 0 auto;
  text-align: center;
  font-size: 70px;
}

.loginhead {
  text-align: center;
  /* padding: 10px; */
  /* margin: 0 auto; */
  color: white;
  position: absolute;
  top: 270px;
  left: 670px;
  z-index: 1;
}


#email {
  text-align: left;
  /* padding: 5px; */
  position: absolute;
  top: 350px;
  color: rgb(0, 0, 0);
  width: 200px;
  left: 720px;
  z-index: 1;
}

#password {
  text-align: left;
  /* padding: 5px; */
  position: absolute;
  top: 430px;
  width: 200px;
  color: rgb(0, 0, 0);
  left: 720px;
  z-index: 1;
}



#emailtext{
  z-index: 1;
  font-size: 25px;
  top: 345px;
  left: 550px;
  color: rgb(255, 255, 255);
  position: absolute;
}

#passwordtext{
  z-index: 1;
  font-size: 25px;
  top: 425px;
  left: 550px;
  color: white;
  position: absolute;
}

#loginbutton{
  z-index: 1;
  text-align: center;
  top: 500px;
  left: 880px;
  width: 60px;
  height: 40px;
  /* color: white; */
  position: absolute;
}

