/* importing font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');


/* displaying clapper image */
.clapperimage {
  display: flex; 
  margin: 0 auto;
  width: 600px;
  height: 500px;
margin-top: 0;
z-index: -1;
}


/* styling words and text boxes for log in, also used for sign up */
.loginheader{
  margin: 0 auto;
  text-align: center;
  font-size: 70px;
}

.loginhead {
  text-align: center;
  /* padding: 5px; */
  position: absolute;
  top: 270px;
  left: 43%;
  color: rgb(255, 255, 255);
  width: 200px;
  z-index: 1;

}


#email {
  text-align: left;
  /* padding: 5px; */
  position: absolute;
  top: 350px;
  color: rgb(0, 0, 0);
  width: 200px;
  z-index: 1;
}

#password {
  text-align: left;
  /* padding: 5px; */
  position: absolute;
  top: 430px;
  width: 200px;
  color: rgb(0, 0, 0);
  z-index: 1;
}




#emailtext{
  z-index: 1;
  font-size: 25px;
  bottom: 228px;
  right: 70px;
  color: rgb(255, 255, 255);
  position: relative;
}

#passwordtext{
  z-index: 1;
  font-size: 25px;
  bottom: 175px;
  right: 70px;
  color: rgb(255, 255, 255);
  position: relative;
}

#loginbutton{
  z-index: 1;
  text-align: center;
  width: 60px;
  height: 40px;
  background-color: white;
  position: relative;
  left: 170px;
  bottom: 140px;

}

