/* displaying images, words, and information for each movie */
.movieimages {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    padding: 20px;
    align-items: center;
    justify-content: center;
}

h3 {
    align-items: center;
    display: center;
}

.words {
    width: 50%;
}

.usernameinfo {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.moviespre {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 12px;
}   

.overview{
    font-size: 10px;
    flex-direction: column;
    display: table-caption;
    caption-side: top;
}


/* playing around with buttons for the liked and disliked buttons */
.button {
  align-items: center;
  background-color: #427290;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #96b8dd;
  color: black;
  outline: 0;
}

.button:hover {
  outline: 0;
}
