/* formating words */
* {
    text-align: center;
}

h1{
    margin-right: 17px;
}


h2{
    font-size: 40px;
    margin-right: 17px;
}

h3{
    font-size: 20px;
    margin-right: 17px;
    margin-top: 3px;
    /* padding: 20px; */
}

h4{
    font-size: 20px;
    padding: 20px;
}

p {
   text-align: right;
   padding: 20px;
    /* height: 50px; */
    /* width: 50%; */
    left: -1;
    font-size: small;
}


.contacttext{
    height: 100%;
    width: 100%;
    background-color: #a1c181;
}

.headshot {
    float: left;  
    height: 500px;
    width: 500px;
    padding: 50px;
    padding-left: 150px;
    border-radius: 80%;
    position: relative;
    z-index: 2;

}

.orange {
    float: left;  
    /* height: 500px;
    width: 500px; */
    /* padding: 50px;
    padding-left: 170px; */
    left: 350px;
    top: 400px;
    border-radius: 50%;
    position: absolute;
    /* z-index: 2; */

}

.yellow {
    float: left;  
    /* height: 500px;
    width: 500px; */
    /* padding: 50px;
    padding-left: 170px; */
    left: 100px;
    top: 100px;
    border-radius: 20%;
    position: absolute;
    /* z-index: 2; */

}

.contact-container{
    height: 100%;
    width: 100%;

}

body {
    background-color: #a1c181;
}

.likedbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    left: 50%;
    top: 10px;
    background-color: #427290;
    border-radius: 8px;
    padding: 5px;
    color: white;
    text-decoration: none;

  }


.likedbutton:hover {
  background-color: #548fb5;
  outline-color: black;
}

.ratings{
    text-decoration: underline;
}

.movies {
    justify-content: center;
    display: flex;
}


/* using same style from liked button */
.buttons {
    align-items: center;
    background-color: #427290;
    border: 1px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    /* font-family: Inter,sans-serif; */
    font-size: 16px;
    height: 30px;
    justify-content: center;
    /* line-height: 24px; */
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    /* -webkit-user-select: none; */
    touch-action: manipulation;
  }

.buttons:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 30px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .buttons:hover:after {
    transform: translate(0, 0);
  }
  
  .buttons:active {
    background-color: #96b8dd;
    color: black;
    outline: 0;
  }
  
  .buttons:hover {
    outline: 0;
  }
  