/* importing my sites font that I picked from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/* using the font to all text */
*{
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}


/* formating home and contact button styles*/
header {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
    background-color: #233d4d;
    height: 70px;
    color: aliceblue;
    /* position: fixed; */
}

/* formating home and contact button styles*/
nav a {
    color: aliceblue;
    /* text-align:left; */
    text-decoration: none;
    padding: 0 2rem;
    align-items: center;
}

/* formating home and contact button styles*/
nav a:hover {
    text-decoration: underline;
    color: rgb(139, 137, 139);
    font-size: 20px;
}

/* formatting logo */
img {
    width: 150px;
    height: 130px;
    left: 10px;
    top: 0.3rem;
}

nav a:active {
    color: black;
}

/* fixing log in and sign up buttons to top right corner*/
nav .logInButton {
    position: relative;
    /* top: 30px; */
    left: 250px;
    padding: 5px 20px;
    background-color: #a1c181;
    cursor: pointer;
    border: none;
}

nav .signUpButton {
    position: relative;
    /* top: 30px; */
    left:530px;
    /* align-items: left; */
    padding: 5px 20px;
    background-color: #a1c181;
    cursor: pointer;
    border: none;
}




/* setting visibility and opacity to transp. and hidden because at largest version of the screen, we do not want these functions visisble */
/* did not end up getting used because I did not finish the reactive nav bar functionality*/
header .navclicks {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    padding: 5px;
    font-size: 2rem;
}


/* attempting to adjust the CSS when the screen is at a particular width, does not fully work, but leaving it in for reference as
it was on the deployed site */
@media only screen and (max-width: 750px){


   header .navclicks{
    visibility: visible;
    opacity: 1;
   }
   

   header .responsive_nav{
    transform: none;
    /* position: fixed; */
   }

   header nav {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #233d4d;
    justify-content: center;
    display: flex;
    top: 0;
    left: 0;
    gap: 1.5rem;
    /* transition-duration: 1.5s; */
    transform: translateY(-100vh);
    position: fixed;
    align-items: center;
    flex-direction: column;
   }


   
   nav .closeNav{
        position: absolute;
        top: 2px;
        right: 25px;
   }



}
