@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

*{
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
    background-color: #233d4d;
    height: 70px;
    color: aliceblue;
    /* position: fixed; */
}

nav a {
    color: aliceblue;
    /* text-align:left; */
    text-decoration: none;
    padding: 0 2rem;
    align-items: center;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(139, 137, 139);
    font-size: 20px;
}

img {
    width: 150px;
    height: 130px;
    left: 10px;
    top: 0.3rem;
}

nav a:active {
    color: black;
}

nav .logInButton {
    position: fixed;
    top: 30px;
    right: 100px;
    padding: 5px 20px;
    background-color: #a1c181;
    cursor: pointer;
    border: none;
}

nav .signUpButton {
    position: fixed;
    top: 30px;
    right: 200px;
    padding: 5px 20px;
    background-color: #a1c181;
    cursor: pointer;
    border: none;
}

nav .logInButton:active {
    top: 32px;
}


/* setting visibility and opacity to transp. and hidden because at largest version of the screen, we do not want these functions visisble */
header .navclicks {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    padding: 5px;
    font-size: 2rem;
}


@media only screen and (max-width: 750px){

    /* header{
        box-sizing: border-box;
    } */

   header .navclicks{
    visibility: visible;
    opacity: 1;
   }
   

   header .responsive_nav{
    transform: none;
    /* position: fixed; */
   }

   header nav {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #233d4d;
    justify-content: center;
    display: flex;
    top: 0;
    left: 0;
    gap: 1.5rem;
    /* transition-duration: 1.5s; */
    transform: translateY(-100vh);
    position: fixed;
    align-items: center;
    flex-direction: column;
   }


   
   nav .closeNav{
        position: absolute;
        top: 2px;
        right: 25px;
   }

   nav .logInButton {
    position:static;
    /* top: 1.1rem;
    right: 1.4rem; */
}

}



/* 
.Navbar {
    width: 100%;
    height: 100px;
    background-color: rgb(221, 88, 185);
    display: flex;
    /* padding: 0px; 

}

 .Navbar .logo {
    flex: 50%;
    display: flex;
    padding-left: 100px;
    /* padding-top: 20px; 
    align-items: center;
    color: white;
} */

/* .Navbar .logo img {
    width: 100px;
} */

/* .Navbar .links{
    display: flex;
    text-align: center; 
    align-items: center;
} */

/* .Navbar a {
    color: rgb(255, 246, 246);
    padding: 30px;
} */ 